<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:15%" class="text-center">Quantity</th>
							<th style="width:15%" class="text-center">Price</th>
							<th style="width:15%" class="text-center">Subtotal</th>
					
						</tr>
					</thead>
					
							<% if @cart.empty? %>
                        <p></p>
                     <% else %>
            
                       <% end %>
                   <br><br><br>

                   <% total = 0 %>
				
                   
                   <% @cart.each do |id, qty| %>
                    <% product = Product.find_by_id(id) %>
                
					
					<tbody>
						<tr>
							<td data-th="Product">
								<div class="row">
									
									<div class="col-sm-8">
										 <h4><%= link_to product.title, product, class:"nomargin" %></h4>
										<p><%= product.description %></p>
									</div>
								</div>
							</td>
							
							<td data-th="Quantity" class="text-center">
								<p><%= qty %></p>
							</td>
							<td data-th="Price" class="text-center"><%= number_to_currency(product.price, unit: '€') %></td>
						
							 <td data-th="Subtotal" class="text-center"><%= number_to_currency( qty*product.price, unit: '€') %></td>
							<td class="actions" data-th="">	 
							<%= link_to "", cart_clear_path, class:"btn btn-danger btn-sm fa fa-trash-o" %>						
							</td>
						</tr>
					</tbody>
					
					
					<tfoot>
					<% total += qty*product.price %>
						<% end %>
						
						<tr>
							 <td><%= link_to 'Continue Shopping', products_path, class:"fa fa-angle-left btn btn-warning" %></td>

							<td colspan="2" class="hidden-xs"></td>
							
							<td class="text-center"><strong>Total: <%= number_to_currency(total, unit: '€') %></strong></td>
			  <td><%= link_to " Empty Cart", cart_clear_path, class:"btn btn-success btn-block fa fa-hand-o-right" %></td>
						
						</tr>
					</tfoot>
					
				</table>
</div>