<div class="brand">Charity Shop</div>
    <div class="address-bar">3481 Rathmines Road | Co. Dublin, Dublin 6 | +353 1 342 4579</div>



    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <%= image_tag("charity1.1.jpg", :alt => "charity1.1") %>
                            </div>
                            <div class="item">
                                <%= image_tag("charity2.1.jpg", :alt => "charity2.1") %>
                            </div>
                            <div class="item">
                                <%= image_tag("charity3.1.jpg", :alt => "charity3.1") %>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">Your Online Charity Shop</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>By
                            <strong>2D Software Development</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">More comfortable experience provided to you!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Always very welcome in our Charity Shop, now you can buy our products at the confort of your home. Quick, Easy and Convenient!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Online Charity Shop</h4>
                    <p class="text-muted">Have you heard about us? Now we are online! Check it out, surfing through the website you will have all information about Charity Shop.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Make your purchases more secure on our website. And of course, be sure to visit us and have a cup of coffee.</p>
                </div>
            </div>
        </div>
    </section>
    
    
    
<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">PRODUCTS</h2>
                    <h3 class="section-subheading text-muted">Are you looking for something nice and cool? Have a look in some of our products.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("product3.1.jpg", :alt => "product3.1") %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>CLOTHES</h4>
                        <p class="text-muted">Seasonal Clothes</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("product4.1.jpg", :alt => "product4.1") %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>DECOR ITEMS</h4>
                        <p class="text-muted">House Decoration</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("product5.1.jpg", :alt => "product5.1") %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>SHOES</h4>
                        <p class="text-muted">Men's and Women's Fashion</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("product8.1.jpg", :alt => "product8.1") %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>BOOKS</h4>
                        <p class="text-muted">All categories and for all ages</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("product11.1.jpg", :alt => "product11.1") %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>KITCHEN</h4>
                        <p class="text-muted">Appliances, Decor and Utensils</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("product12.1.jpg", :alt => "product12.1") %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>HOME</h4>
                        <p class="text-muted">Other Decorations Products</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    
    
    

    </div>
    <!-- /.container -->


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
