<div class="container">
    <div class="well well-sm">
        <strong>Category Title</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
<% @products.each do |product| %>
    <div id="categories-list" class="list-group ">
    <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <%= link_to (image_tag product.image_url, class:"group list-group-image" ), product %>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading"><%=link_to product.title, product %></h4>
                    <p class="group inner list-group-item-text">
                        <%= product.description %></p>
                    <div class="row" >
                        <div class="col-xs-12 col-md-10">
                            <p class="lead">
                               <%= number_to_currency(product.price, unit: '€')%></p>
                        </div>
                    <% if current_user.admin? %>
                        

                     <div class="button-wrapper ">
                 <button class="btn btn-success btn-md fa fa-pencil-square-o">
                 <%= link_to ' Edit', edit_product_path(product) %></a></button>
                       </div>

                    <div class="button-wrapper ">
                 <button class="btn btn-danger btn-md fa fa-trash-o"> <%= link_to ' Delete', product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></a></button>
                       </div>

                     <% else %>
                
                        <div class="button-wrapper ">
                 <button class="btn btn-success btn-sm "><a class="glyphicon glyphicon-shopping-cart" href="/cart/<%= product.id %>">Cart </a></button>
                       </div>
                         
                    <% end %>
                         
                 </div>
               
                </div>
            </div>
        </div>
     </div>

    <%end%>
 </div>
<% if current_user.admin? %>
 <div class="button-wrapper ">
 <button class="btn btn-success btn-sm "><%= link_to 'New Product', new_product_path %></button>
 </div>
<% end %>
