
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Charity", root_path , class:"navbar-brand", id: "logo"%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li> <%= link_to ' Home', root_path, class:"fa fa-home" %></li>
        <li><%= link_to ' Shop', products_path, class:"fa fa-shopping-basket" %></li>
          <li><%= link_to " About Us", page_about_path, class:"fa fa-info-circle" %></li>
          <li><%= link_to " Contact", page_contact_path, class:"fa fa-phone" %></li>
           <li><%= link_to " Cart", cart_path, class:"fa fa-shopping-cart" %></li>
    
      </ul>

 
       <%=form_for(products_path, :method => "get", id: "search-form",:html => {class:"navbar-form navbar-left"}) do%>
          <%= text_field_tag :search, params[:search], placeholder: "Search title", class:"form-control" %>
          <%=submit_tag "Submit", class:"btn btn-default btn btn-default btn-md"%>
         <%end%>

      
      <form class="navbar-form navbar-left">
        <div class=" form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button style="color: #9a2b2b;" type="submit" class="btn btn-default btn btn-default btn-sm">Submit</button>
      </form>


      <ul class="nav navbar-nav navbar-right" id="style_signin">
     <div id="sign_in">
    <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"fa fa-sign-out" %>
    <% else %>
    <%= link_to "  Sign In", new_user_session_path, class:"fa fa-lock" %>
   <%= link_to "  Sign Up", new_user_registration_path,  class:"fa fa-user-plus" %>
    <% end %>
  </div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


